*{
    padding: 0;
    margin: 0;
}
#nav{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    
}

#nav1{
    display: flex;
    flex-direction: column;
}

#logo_name{
    font-size: 25px;
    font-family: sans-serif;
    font-style: italic;
    color: #2A55E5;
    font-weight: bold;
}

#input_data{
    border: none;
    width: 500px;
    height: 25px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: #F0F5FF;
    outline: none;
    font-size: 16px;
}

#signin_button{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000032;
}

#cart_button{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000032;
}

#categories{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin: 12px;
    margin: auto;
}

#categories > div > img{
    height: 80px;
    width: 80px;
}

#categories > div > p{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}

#categories > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}